<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>
<button (click)="showInput = !showInput">Toggle Input</button>
<button (click)="focus = !focus">Toggle Focus</button>
<button (click)="delayToggleFocus()">Focus for one second then blur</button>
<div class="input-container">
  <label for="focus">Focus?</label><input id="focus" type="checkbox" [checked]="focus" (change)="focus = !focus">
</div>
<div *ngIf="showInput" class="input-container">
  <label>Input:</label> <input [libFocus]="focus">
</div>